<?xml version="1.0"?>
<!--
/**
 * Copyright © IQMosaic sro, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iqmosaic_SupplierAdminUi::supplier_menu"
            title="Supplier"
            translate="title"
            sortOrder="21"
            resource="Iqmosaic_SupplierAdminUi::supplier_admin"
            module="Iqmosaic_SupplierAdminUi"
        />
        <add id="Iqmosaic_SupplierAdminUi::supplier_admin"
             parent="Iqmosaic_SupplierAdminUi::supplier_menu"
             title="Suppliers"
             sortOrder="10"
             resource="Iqmosaic_SupplierAdminUi::supplier_admin"
             action="supplier/supplier/index"
             module="Iqmosaic_SupplierAdminUi"
        />
    </menu>
</config>